{% extends 'base.html' %}

{% block cuerpo %}

							<div class="inner">
								<h3>Bienvenidos al <b>Sistema</b> <span> de ventas</span></h3>
								 <h3>Nuestro sistema web realiza el control general de ventas, que permita al administrador un mejor control de las ventas de los<img src="/static/images/o.jpg" alt="" /> productos, ventas, stock actual y sus operarios.
Este sistema le permitirá al administrador conocer su stock actual a través de su dispositivo móvil con tecnología Android

								</h3>
							</div>

				
{% endblock cuerpo %}