<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Sistema de ventas.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Place your description here" />
<meta name="keywords" content="put, your, keyword, here" />
<meta name="author" content="Templates.com - website templates provider" />
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<link href="/static/vistas.css" rel="stylesheet" type="text/css" />

<script src="/static/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="/static/cufon-yui.js" type="text/javascript"></script>
<script src="/static/cufon-replace.js" type="text/javascript"></script>
<script src="/static/Gill_Sans_400.font.js" type="text/javascript"></script>
<script src="/static/script.js" type="text/javascript"></script>
<script src="/static/js/jquery-1.4.2.min.js" type="text/javascript"></script>

<script src="/static/js/serializeObject.js" type="text/javascript"></script>

<!--[if lt IE 7]>
	<script type="text/javascript" src="/static/ie_png.js"></script>
	<script type="text/javascript">
		 ie_png.fix('.png, .link1 span, .link1');
	</script>
	<link href="/static/sie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body id="page1">
<div class="tail-top">
	<div class="tail-bottom">
		<div id="main">
<!-- HEADER -->
			<div id="header">
				<div class="row-1">
					<div class="fleft"><h3><b>SISTEMA</b> <span>DE VENTAS</span></h3></div>
					<ul>
							<h1>Usuario {{ user.username|upper }}</h1>
					</ul>
				</div>
				<div class="row-2">
					<ul>
						{% if user.is_authenticated %}
							{% if user.is_superuser %}
		                        <li>
		                            <a href="">Usuario</a>
		                            <ul>
	                				<li><a href="/registrarse/">Registra usuario</a></li>
	                				<li><a href="/listar_usuario/">Eliminar Usuario</a></li>
	                				</ul>
		                        </li>
		                        <li>
	                				<a  href="">Producto</a>
	                				<ul>
	                				<li><a href="/new_categoria/">Nueva Categoria</a></li>
	                				<li><a href="/new_producto/">Crear Producto</a></li>
	                				<li><a href="/listar_producto/">Eliminar Modificar</a></li>
	                				<li><a href="/ver_productos/">Listar productos</a></li>
	                				</ul>
	            				</li>
	            			{% else %}
	            				
	            				<li>
	                            <a href="">Cliente</a>
	                            <ul>
	                				<li><a href="/cliente/">Registrar Cliente</a></li>
	                				<li><a href="/listar_cliente/">Eliminar Modificar</a></li>
	                				</ul>
	                        	</li>
	                        	<li>
	                          	  <a href="/new_venta/">Registrar Venta</a>
	                            </li>
	                            <li>
	                            <a href="">Reportes</a>
	                            <ul>
	                				<li><a href="/reporte/">listar productos</a></li>
	                				<li><a href="/ver_productos/">Listar productos</a></li>
	                				</ul>
	                        	</li>
		                    {% endif %}
						
                        <li>
                			<a  href="/user/resetpass/">Editar password</a>
            			</li>
            			<li>
                            <a href="/salir/">Cerrar Sesión</a>
                        </li>
                        <li>
                            <a href="/">inicio</a>
                        </li>
                        {% else %}
            			<li>
                            <a href="/user/login/">Iniciar Sesión</a>
                        </li>
                        <li>
                            <a href="/">inicio</a>
                        </li>
             			 {% endif %}
					</ul>
				</div>
			</div>
<!-- CONTENT -->
			
				<div class="box">
					<div class="border-right">
						<div class="border-left">
							<div class="inner">
								<div id="cuerpo">
								{% block cuerpo %}
								{% endblock cuerpo %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content">
					<h3>Somos <span>Unicos</span></h3>
				</div>
			</div>
<!-- FOOTER -->
			<div id="footer">
				<div class="left">
					<div class="right">
						<div class="inside">Desarrolladores del sistema<br />
							<a rel="nofollow" href="http://www.templatemonster.com/" class="new_window">Carolina</a> caro_ona@hotmail.com<br />
							<a href="http://www.templates.com/product/3d-models/" class="new_window">Juan Jose</a> juan@hotmail.com
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>