{% extends 'base.html' %}



{% block cuerpo%}
<div class="nombrecad">
	Lista de productos
</div>
<ul class="MenuCat">
	<li>
			<a href="/ver_productos/">Todos</a>
		</li>
	{%for cat in cate%}
		<li>
			<a href="/listado_por_categorias/{{cat.id}}/">{{cat.nombreCategoria}}</a>
		</li>
	{%endfor%}
</ul>
	<div>
		<ul class="item_lista">
			{%for item in lista %}
			<li class="principal">
				<div>
					<h1>{{item.NombredelProcuto}}</H1>
					<!--<div class="numero"># Item {{item.id}}</div>-->
					<div>
						<ul id="detalle">
							<li class="subprincipal">
								
									<b>Cantidad: </b>{{item.cantidad}}<br><br><br>
								
										<b>Fecha: </b>{{item.fecha}}	<br><br><br>
								Precio :
								{{item.precio}}<br><br><br>
								<b>Categorias:</b><br><br><br>
								<ul>
									{%for categoria in item.cat.all%}
									<li>
										{{categoria.nombreCategoria}}
										<a href="/listado_por_categorias/{{item.id}}/{{categoria.id}}/">Elimibar categoria</a>
									</li>
									{%endfor%}
								</ul>
								<ul><br><br>
									<li>
									<a href="/aumentarStock/{{item.id}}/" >aumentar stock</a><br><br>
									</li>	
								</ul>
							</li>
						</ul>
					</div>	
				</div>
			</li>
			{%endfor%}
		</ul>
	</div>
{% endblock cuerpo%}
